<div class="col-md-12 page">
<h2>{{page.title}}</h2>
{{!-- {{#if page.attached_image}} --}}
<img class="pageImage" src="{{page.image_url}}">
{{!-- {{/if}} --}}
<h3>{{page.body}}</h3>


{{#if page.canBeDeleted}}
<button class="btn btn-xs btn-danger" {{action 'delete'}}>
   Delete
</button>
{{/if}}
</div>

{{yield}}
