{{!-- <form {{action 'createPage' on='submit'}}>
  {{input placeholder='New Page Title'
          class='input-group form-control'
          value=newPage.title}}

  {{input placeholder='New Page Body'
            class='input-group form-control'
            value=newPage.body}}

  <button type="submit" name="submit" class="btn btn-primary">
    Create New Page
  </button>

</form> --}}

<div class="col-md-12 new-page">
<form enctype="multipart/form-data" id="new-page-form" {{ action 'createPage' on='submit' }}>
  <fieldset>
    <legend>Add New Page</legend>
    <input type="text" class="form-control" name="page[title]" placeholder="Page Title">
    <input type="text" class="form-control" name="page[body]" placeholder="Page Body">
    <input type="hidden" name="page[server_id]" value="{{server.id}}">
    <input type="file" name="page[image]" value="Upload Image">
    <input type="submit" class="btn btn-success" name="submit" value="Create Page">
  </fieldset>
</form>
</div>

{{yield}}
