<div class="col-md-12 page">
  {{#if page.canBeDeleted}}
    <button class="btn btn-xs btn-danger pull-right" {{action 'delete'}}>
       Delete
    </button>
  {{/if}}
  <p class="pull-left">{{page.id}}</p>
  <div class="text-center">
  {{!-- {{#if page.image_url}} --}}
    <img class="pageImage img-responsive " src="{{page.image_url}}">
  {{!-- {{/if}} --}}

  <h3 class="">{{page.title}}</h3>
  <p class="">{{page.body}}</p>
  </div>
</div>

{{yield}}
