<div class="col-md-12 board-card">
  <p class="pull-left">{{board.id}}</p>
  <div class="pull-right">
  {{#if board.canBeDeleted}}
  <button class="btn btn-xs btn-warning" {{action 'edit'}}>
     Rename
  </button>
  <button class="btn btn-xs btn-danger" {{action 'delete'}}>
     Delete
  </button>
    {{/if}}
  </div>
  {{#link-to 'board' board}}<h2 class="boardName">{{board.name}}</h2>{{/link-to}}
</div>

{{yield}}

{{!-- ADD COLS AND ROWS --}}
